<div class="container-full">
  <h2 class="title">Score result for Par System</h2>
  <div class="flex-container">
    <div>
      <label>Selected Date :<br /></label>
      <br />
      <br />
      <label>Selected Venue :<br /></label>
      <br />
      <br />
      <label>Selected Appraisers : <br /></label>
      <br />
    </div>
    <!-- div divider -->
    <div>
      <table>
        <tr>
          <th>Requirements</th>
          <th>Rate</th>
        </tr>
        <tr>
          <td>Coding Standards</td>
          <td><input type="number" min="1" max="5" /></td>
        </tr>
        <tr>
          <td>Qualifications</td>
          <td><input type="number" min="1" max="5" /></td>
        </tr>
        <tr>
          <td>Time Management</td>
          <td><input type="number" min="1" max="5" /></td>
        </tr>
        <tr>
          <td>Working Etiqutees</td>
          <td><input type="number" min="1" max="5" /></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <input class="submitBtn " type="submit" value="submit" />
  </div>
</div>
