<div class="container-full">
  <h2 class="title">Schedule par from Single Employee</h2>
  <div class="flex-container">
    <div>
      <label>Select Designation</label>
      <br />
      <select>
        <option value="Software Engineer">Software Engineer</option>
        <option value="QA Engineer">QA Engineer</option>
        <option value="Project Manager">Project Manager</option>
        <option value="HR Manager">HR Manager</option>
      </select>
      <br />
      <label>Name Of the Employee</label>
      <br />
      <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <br />
      <label>Role ID</label>
      <br />
      <input type="text" />
    </div>
    <!-- div divider -->
    <div>
      <label>Select the Date</label> <br />
      <input type="date" name="parDate" />
      <br />
      <label>Venue</label><br />
      <select>
        <option value="Auditorium">Auditorium</option>
        <option value="Meeting Hall">Meeting Hall</option>
        <option value="Conference Hall">Conference Hall</option>
        <option value="audi">Audi</option>
      </select>
      <label>Select the Appraiser</label>
      <br />
      <select name="appraiser" multiple>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
    </div>
    <!-- div divider -->
    <div>
      <h1>Requirements</h1>
      <label class="container"
        >Coding Standards
        <input type="checkbox" checked="checked" />
        <span class="checkmark"></span>
      </label>
      <label class="container"
        >Qualifications
        <input type="checkbox" />
        <span class="checkmark"></span>
      </label>
      <label class="container"
        >Time management
        <input type="checkbox" />
        <span class="checkmark"></span>
      </label>
      <label class="container"
        >Working Etiqutees
        <input type="checkbox" />
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
  <div class="card-footer">
    <input class="submitBtn " type="submit" value="submit" />
  </div>
</div>
