<nav>
  <ul>
    <img
      src="../../../assets/profile/Men-Profile-Image.png"
      alt="icon"
      height="120"
      width="120"
    />
    <li><a href="#">My Profile</a></li>
    <br />
    <li>
      Par
      <ul class="nav-sub-items">
        <li><a href="#">View Bar Result</a></li>
        <li><a href="#">Score Mypar</a></li>
        <li><a href="#">Track Par</a></li>
      </ul>
    </li>
    <li>
      Manage Par
      <ul class="nav-sub-items">
        <li><a href="#">Schedule Par for Single User</a></li>
        <li><a href="#">Schedule par for Multy User</a></li>
        <li><a href="#">Evaluvate Par</a></li>
        <li><a href="#">Configure par requirement</a></li>
        <li><a href="#">Configure par details</a></li>
      </ul>
    </li>
  </ul>
</nav>
