<nav>
  <ul>
    <img
      src="../../../assets/profile/Men-Profile-Image.png"
      alt="icon"
      height="120"
      width="120"
    />
    <li><a href="#">My Profile</a></li>
    <li>
      PAR
      <ul class="nav-sub-items">
        <li><a href="#">View Bar Result</a></li>
        <li><a href="#">Par Form</a></li>
        <li><a href="#">Track Par</a></li>
      </ul>
    </li>
    <li>
      Manage Par
      <ul class="nav-sub-items">
        <li><a href="#">Create Par for Single User</a></li>
        <li><a href="#">Create par for Multy User</a></li>
        <li><a href="#">Config par requirement</a></li>
        <li><a href="#">Config par details</a></li>
      </ul>
    </li>
    <li><a href="#">Tokyo</a></li>
  </ul>
</nav>
